# This is a basic workflow to help you get started with Actions

name: Codecov

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on: [push, pull_request]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  codecov:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
    - name: Set up JDK 14
      uses: actions/setup-java@v1
      with:
        java-version: 14
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew jacocoTestReport
    - name: Archive artifacts
      uses: actions/upload-artifact@v1
      if: success()
      with:
        name: Coverage Report
        path: build/reports/jacoco/test/jacocoTestReport.xml
      # Runs codecov
    - uses: codecov/codecov-action@v1
      with:
        #token: ${{ secrets.CODECOV_TOKEN }} # not required for public repos
        file: ./build/reports/jacoco/test/jacocoTestReport.xml # optional
        flags: unittests # optional
        #name: codecov-umbrella # optional
        fail_ci_if_error: true # optional (default = false)
